html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.loader{
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
ul.navbar-nav li.nav-item {
  padding: 12px;
}
.active_menu_hover{
  border-bottom: 4px solid;
  background: #ffa758;
}